

<div *ngIf="countries.length===0; else table" class="alert alert-warning text-center">
  No hay países que mostrar
</div>
<!-- se le pone a la tabla la id table para usarlo en el if de arriba-->
<ng-template #table>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Icon</th>
      <th>Bandera</th>
      <th>Nombre</th>
      <th>Capital</th>
      <th>Poiblación</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries; let i = index">
      <td>{{i+1}}</td>
      <td>{{country.flag}}</td>
      <td><img [src]="country.flags.svg" [alt]="country.name.common"></td>
      <td>{{country.name.common}}</td>
      <td>{{country.capital}}</td>
      <td>{{country.population | number}}</td> <!--con un | es para decir que melo muestre en modo numero-->
      <td>
        <a [routerLink]="['/countries/by', country.cca3]">Info</a> <!--Aqui la , es para contatenar el string con el parametro-->
      </td>
    </tr>
  </tbody>
  </table>



</ng-template>

